@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');
.nama-arab-navbar{
    font-family: 'Amiri Quran', serif;
    font-size: 20px;
    color: white;
    text-align: right;
}