@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');

.box{
    margin-top: 50px;
}
.nav{
    height: 150px;
    background-color: #219F6A;
    border-radius: 10px;
    justify-content: space-between;
}

.nav img{
    height: 130px;
    opacity: 40%;
    position: relative;
    left: 120px;
    top: -90px;
}

.last-icon{
    position: relative;
    top: -1px;
}
.container-nama {
    margin-left: 10px;
}

.arti {
    position: relative;
    top: -6px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: rgb(116, 111, 111);
}

.nama-latin {
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.nama-arab {
    font-family: 'Amiri Quran', serif;
    font-size: 20px;
    color: #219F6A;
}

.rhombus-border h5 {
    transform: rotate(-45deg);
    text-align: center;
    align-items: center;
} 
.rhombus-border {
    width: 25px;
    height: 25px;
    border: 1px solid #219F6A;
    transform: rotate(45deg);
    position: relative;
  }
  
  .rhombus-border::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #219F6A;
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  