@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');


.container-nama {
    margin-left: 10px;
}

.arti {
    position: relative;
    top: -6px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: rgb(116, 111, 111);
}

.nama-latin {
    font-family: 'Roboto', sans-serif;
}

.nama-arab {
    font-family: 'Amiri Quran', serif;
    font-size: 20px;
    color: #B576FE;
}